name: Tests

on:
  push:
    branches:
      - master

jobs:
  connect:
    name: 游니 MongoDB Connection
    runs-on: ubuntu-latest
    steps:
      - name: 游닄 Checkout
        uses: actions/checkout@v3
        
      - name: 游릭 Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: 游 Initialize Environment File
        run: touch config.json
        
      - name: 游 Setup Environment Variables
        run: echo ${{ secrets.CONFIG_ENV }} > config.json
      
      - name: 游닍 Install Dependencies
        run: npm i
        
      - name: 游댍 Start The Test
        run: node __tests__/connection
  
  listen:
    name: 游니 Server Listen
    needs: connect
    runs-on: ubuntu-latest
    steps:
      - name: 游닄 Checkout
        uses: actions/checkout@v3

      - name: 游릭 Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: 游 Initialize Environment File
        run: touch config.json

      - name: 游 Setup Environment Variables
        run: echo ${{ secrets.CONFIG_ENV }} > config.json

      - name: 游닍 Install Dependencies
        run: npm i

      - name: 游댍 Start The Test
        run: node __tests__/listen

  login:
    name: 游뱄 Bot Login
    needs: listen
    runs-on: ubuntu-latest
    steps:
      - name: 游닄 Checkout
        uses: actions/checkout@v3

      - name: 游릭 Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: 游 Initialize Environment File
        run: touch config.json

      - name: 游 Setup Environment Variables
        run: echo ${{ secrets.CONFIG_ENV }} > config.json

      - name: 游닍 Install Dependencies
        run: npm i

      - name: 游댍 Start The Test
        run: node __tests__/login